@font-face {
	font-family: 'FuturaDemiC';
	src: url('../fonts/FuturaDemiC.eot');
	src: local('Futura Demi Cyrillic'), local('FuturaDemiC'),
		url('../fonts/FuturaDemiC.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FuturaDemiC.woff') format('woff'),
		url('../fonts/FuturaDemiC.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'FuturaMediumC';
	src: url('../fonts/FuturaMediumC.eot');
	src: local('Futura Medium Cyrillic'), local('FuturaMediumC'),
		url('../fonts/FuturaMediumC.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FuturaMediumC.woff') format('woff'),
		url('../fonts/FuturaMediumC.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'FuturaLightC';
	src: url('../fonts/FuturaLightC-Italic.eot');
	src: local('Futura Light Italic Cyrillic'), local('FuturaLightC-Italic'),
		url('../fonts/FuturaLightC-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FuturaLightC-Italic.woff') format('woff'),
		url('../fonts/FuturaLightC-Italic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'FuturaMediumC';
	src: url('../fonts/FuturaMediumC-Italic.eot');
	src: local('Futura Medium Italic Cyrillic'), local('FuturaMediumC-Italic'),
		url('../fonts/FuturaMediumC-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FuturaMediumC-Italic.woff') format('woff'),
		url('../fonts/FuturaMediumC-Italic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'FuturaLightC';
	src: url('../fonts/FuturaLightC.eot');
	src: local('Futura Light Cyrillic'), local('FuturaLightC'),
		url('../fonts/FuturaLightC.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FuturaLightC.woff') format('woff'),
		url('../fonts/FuturaLightC.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'FuturaDemiC';
	src: url('../fonts/FuturaDemiC-Italic.eot');
	src: local('Futura Demi Italic Cyrillic'), local('FuturaDemiC-Italic'),
		url('../fonts/FuturaDemiC-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FuturaDemiC-Italic.woff') format('woff'),
		url('../fonts/FuturaDemiC-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'FuturaBookC';
	src: url('../fonts/FuturaBookC-Italic.eot');
	src: local('Futura Book Italic Cyrillic'), local('FuturaBookC-Italic'),
		url('../fonts/FuturaBookC-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FuturaBookC-Italic.woff') format('woff'),
		url('../fonts/FuturaBookC-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'FuturaBookC';
	src: url('../fonts/FuturaBookC.eot');
	src: local('Futura Book Cyrillic'), local('FuturaBookC'),
		url('../fonts/FuturaBookC.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FuturaBookC.woff') format('woff'),
		url('../fonts/FuturaBookC.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}





* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	max-width: 375px;
	height: 640px;
	margin: 0 auto;
}

.wrapper {
	width: 100%;
	height: 100%;
}

.loading-screen {
	position: relative;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	background-color: #802AD5;
	width: 0%;
	height: 100%;
}

.load-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	z-index: 10;
	pointer-events: none;
}

.container {
	height: 100%;
	padding: 0 16px;
}

header,
footer {
	padding: 16px 0;
}

header,
main,
footer {
	width: 100%;
}

header,
main {
	background: #F4F4F4;
}

footer {
	background: #ffffff;
}

main {
	height: 100%;
	border-top: 1px solid #C2C1C1;
	overflow: auto;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.burger span {
	display: block;
	width: 38px;
	height: 7px;
	background: #9E9E9E;
	border-radius: 5px;
	margin-bottom: 4px;
}

.burger span:last-child {
	margin-bottom: 0;
}

.balance {
	display: flex;
	align-items: center;
	font-family: 'FuturaMediumC';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	color: #232323;
}

.balance span {
	margin-left: 8px;
}

.main {
	height: 100%;
	padding: 16px 0;
	position: relative;
}

.main-subtitle {
	font-family: 'FuturaBookC';
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 18px;
	color: #232323;
}

.main-picture {
	height: 194px;
	border: 2px solid #802AD4;
	background: #E6E6E6;
	border-radius: 5px;
	margin: 18px 0;
	overflow: hidden;
}

.main-picture img {
	width: 100%;
	max-width: 100%;
	object-fit: cover;
}

.choice {
	display: flex;
	align-items: center;
	width: 100%;
}

.choice-box {
	width: 50%;
	margin-right: 12px;
}

.choice-box:last-child {
	margin-right: 0;
}

.choice-box span {
	display: block;
	font-family: 'FuturaMediumC';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	color: #232323;
	margin-bottom: 8px;
}

.choice-box select {
	width: 100%;
	padding: 16px 12px;
	font-family: 'FuturaBookC';
	font-size: 16px;
	line-height: 18px;
	color: #232323;
	border-radius: 5px;
	border: none;
	appearance: none;
	background: #FFFFFF;
	background-image: url('../img/arrow-select.svg');
	background-repeat: no-repeat;
	background-position: center right 12px;
	outline: none;
}

.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 20px 0;
	font-family: 'FuturaMediumC';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	color: #FFFFFF;
	text-align: center;
	background: #802AD5;
	border-radius: 5px;
	margin: 20px 0;
	text-decoration: none;
}

.btn svg {
	margin-left: 8px;
}

.btn-red {
	line-height: 15px;
	font-weight: 500;
	font-size: 13px;
	background: #CA0A0A;
	margin: 0;
	padding: 12px 0;
}

.btn-green {
	background: #48AB26;
}

.progress {
	display: flex;
	align-items: center;
	padding-bottom: 14px;
}

.progress-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-width: 188px;
	background: #FFFFFF;
	border-radius: 5px;
	padding: 10px 14px;
	margin-right: 12px;
}

.progress-bar__item {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20px;
	height: 20px;
	background: #F4F4F4;
	border-radius: 50%;
}

.progress-bar__item span {
	display: block;
	width: 12px;
	height: 12px;
	border-radius: 50%;
}

.progress-bar .done {
	background: #48AB26;
}

.progress-bar .during {
	background: #C4DB3C;
}

.info-block {
	background: #ffffff;
	padding: 24px 28px;
	border-radius: 5px;
	margin-bottom: 20px;
	position: relative;
}

.info-block:last-child {
	margin-bottom: 0;
}

.block-active {
	border: 1px solid #48AB26;
}

.block-active:before {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	background: rgba(72, 171, 38, 0.3);
	z-index: 1;
}

.btn-map {
	position: absolute;
	top: 20px;
	right: 13px;
	display: inline-block;
	padding: 8px 30px;
	font-family: 'FuturaBookC';
	font-size: 14px;
	line-height: 16px;
	color: #802AD4;
	border-radius: 5px;
	text-decoration: none;
	border: 1px solid #802AD4;
	z-index: 2;
}

.rating {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 40px 30px;
	background: #FFFFFF;
	border-radius: 5px;	
}

.rating h1 span {
	color: #232323;
}

.rating span {
	font-family: 'FuturaBookC';
	font-size: 16px;
	line-height: 18px;
	color: #959595;
}

.rating-box {
	display: flex;
	align-items: center;
	padding: 20px 0;
}

.rating-box .star-selected path {
	fill: #BBCB01;
}

.rating-box__item {
	margin-right: 12px;
}

.rating-box__item:last-child {
	margin-right: 0;
}

.end {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 40px 0;
}

.end img {
	margin-bottom: 32px;
}

.end p {
	width: 100%;
	max-width: 216px;
	font-family: 'FuturaBookC';
	font-size: 16px;
	line-height: 18px;
	text-align: center;
	color: #232323;
	margin: 0 auto;
}

.end p span {
	font-weight: 600;
}

.recommendation {
	background: #FFFFFF;
	border-radius: 5px;
	padding: 36px 28px;
}

.recommendation h2 {
	font-family: 'FuturaDemiC';
	font-weight: 600;
	font-size: 30px;
	line-height: 35px;
	color: #232323;
	margin-bottom: 16px;
}

.recommendation-block {
	display: flex;
}

.recommendation-box img {
	width: 160px;
	height: 99px;
}

.recommendation p {
	font-family: 'FuturaBookC';
	font-size: 14px;
	line-height: 16px;
	color: #575757;
}

.recommendation p span {
	display: block;
	font-family: 'FuturaDemiC';
	font-weight: 600;
	font-size: 26px;
	line-height: 30px;
	color: #F4587D;
}
.recommendation-btn {
	display: inline-block;
	font-family: 'FuturaMediumC';
	font-weight: 500;
	font-size: 12px;
	line-height: 14px;
	color: #000000;
	text-align: center;
	text-decoration: none;
	padding: 8px 20px;
	margin-top: 16px;
	border: 1px solid #802AD5;
	border-radius: 5px;
}

.footer-menu {
	display: flex;
	align-items: center;
	justify-content: center;
}

.carousel-name {
	font-family: 'FuturaDemiC';
	font-weight: 600;
	font-size: 18px;
	line-height: 21px;
	color: #232323;
	margin-bottom: 32px;
}

.carousel-subtitle {
	font-family: 'FuturaBookC';
	font-size: 16px;
	line-height: 18px;
	color: #959595;
	margin-bottom: 36px;
}

.specifications-block {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 12px;
	padding-bottom: 12px;
	border-bottom: 1px solid #F4F4F4;
}

.specifications-block span {
	display: flex;
	align-items: center;
}

.specifications-block span span {
	margin-left: 4px;
}

.specifications-block:last-child {
	border: none;
}

.specifications-block > span:last-child {
	font-family: 'FuturaMediumC';
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: #802AD4;
}

.specifications span {
	font-family: 'FuturaBookC';
	font-size: 13px;
	line-height: 15px;
	color: #959595;
}

.complexity-box {
	display: flex;
	align-items: center;
}

.complexity-box__item {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20px;
	height: 20px;
	background: #F4F4F4;
	border-radius: 50%;
	margin-right: 8px;
}

.hard-complexity span {
	background: #E56D6D;
}

.medium-complexity span {
	background: #CADD59;
}

.complexity-box__item span {
	display: block;
	width: 12px;
	height: 12px;
	border-radius: 50%;
}

.complexity-box__item:last-child {
	margin-right: 0;
}

.footer-menu__item {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 44px;
	height: 44px;
	margin-right: 32px;
	border-radius: 5px;
}

.footer-menu .active {
	background: #802AD5;
}

.footer-menu__item:last-child {
	margin-right: 0;
}

